<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>paginaEscolherLista</title>
</head>
<body>
     <form th:action="@{/paginaOrganizacao}" th:object="${usuarioDto}" method="get">
        <a><button id="btnCadastra" type="submit">Organização</button></a></a>
     </form>
         <form th:action="@{/paginaDeProdutos}" th:object="${usuarioDto}" method="get">
        <a><button id="btnCadastrar" type="submit">Produtos</button></a></a>
          </form>
</body>
</html>