<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página do Administrador - Lista de Produtos</title>
    <link rel="stylesheet" type="text/css" href="stylePaginaOrganizacao.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	
    <div class="container">
        <div class="header">
            <span>Listar Produtos</span>
            <button onClick="openModal()" id="new">+</button>
        </div>

        <div class="divTable">
            <table>
                <thead>
                    <tr>
                        <th>Código:</th>
                        <th>Nome:</th>
                        <th>Quantidade:</th>
                        <th>Valor:</th>
                        <th>Status:</th>
                        <th>Visualizar</th>
                        <th class="acao">Alterar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each=" produto : ${produtos}">
                        <td th:text="${produto.codigo}"></td>
                        <td th:text="${produto.nome}"></td>
                        <td th:text="${produto.quantidade}"></td>
                        <td th:text="${produto.preco}"></td>
                        <td th:text="${produto.situacao}"></td>
                        <td th:text="${produto.linkImg}"></td> 
                    </tr>
                </tbody>
            </table>
        </div>

                    
        <div class="modal-container">
            <div class="modal">
				 <form th:action="@{/paginaDeProdutos}" th:object="${produtoAllDto}" method="post">

					<label for="m-codigo">Código</label>
                    <input id="m-codigo" type="text" th:field="*{codigo}" required />

                    <label for="m-nome">Nome</label>
                    <input id="m-nome" type="text" th:field="*{nome}" required />

                    <label for="m-descricao">Descrição</label>
                    <input id="m-descricao" type="text" th:field="*{descricao}" required />

                    <label for="m-avaliacao">Avaliação</label>
                    <input id="m-avaliacao" type="text" th:field="*{avaliacao}" required />

                    <label for="m-preco">Preço</label>
                    <input id="m-preco" type="text" th:field="*{preco}" required />

                    <label for="m-quantidade">Quantidade</label>
                    <input id="m-quantidade" type="text" th:field="*{quantidade}" required />

                    <label for="m-status">Status</label>
                    <input id="m-status" type="text" th:field="*{situacao}" required />

                    <label for="m-link">Link</label>
                    <input id="m-link" type="text" th:field="*{link}" />

                    <label for="m-imagens">Imagens</label>
                    <input id="m-imagens" type="file" accept="image/*" th:field="*{imagens}" multiple required />

                   <input type="submit" name="submit" id="submit">
                   </form>
            </div>
        </div>
    </div>
    <script src="scriptPaginaDeProdutos.js"></script>
</body>
</html>