<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers E-Commerce</title>
    <link rel="stylesheet" type="text/css" href="stylePaginaCadastroCliente.css">
</head>

<body>
    <div class="box">
            <fieldset>
                <legend><b>Cadastro</b></legend>
                <h2>Dados</h2>
                 <form th:action="@{/paginaDeProdutos}" th:object="${produtoAllDto}" method="post">
                <div class="inputBox">					
                    <input type="text" name="codigo" id="codigo" class="inputUser" th:field="*{codigo}" required> <!--th:field="*{codigo}"-->
                    <label for="codigo" class="labelInput">Código</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="nome" id="nome" class="inputUser" required> <!--th:field="*{nome}"-->
                    <label for="nome" class="labelInput">Nome</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="descricao" id="descricao" class="inputUser"  required> <!--th:field="*{descricao}"-->
                    <label for="descricao" class="labelInput">Descrição</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="avaliacao" id="avaliacao" class="inputUser"  required> <!--th:field="*{avaliacao}"-->
                    <label for="avaliacao" class="labelInput">Avaliação</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="number" name="preco" id="preco" class="inputUser"  required> <!--th:field="*{preco}"-->
                    <label for="preco" class="labelInput">Preço</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="number" name="quantidade" id="quantidade" class="inputUser"  required><!-- th:field="*{quantidade}"-->
                    <label for="quantidade" class="labelInput">Quantidade</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="status" id="status" class="inputUser"  required> <!--th:field="*{situacao}"-->
                    <label for="status" class="labelInput">Situação</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="complemento" id="complemento" class="inputUser"> <!--th:field="*{complemento}"-->
                    <label for="complemento" class="labelInput">Complemento</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="text" name="link" id="link" class="inputUser"  required ><!--th:field="*{link}"-->
                    <label for="link" class="labelInput">Link</label>
                </div>
                <br><br>
                <input type="submit" name="submit" id="submit">
                </form>
            </fieldset>
        </form>
    </div>
</body>
</html>